# Carga de Datos desde Un Archivo Plano CSV

In [52]:
%pylab inline 
import numpy as np
import seaborn as sns
import pandas as pd
pd.set_option('precision',5)

Populating the interactive namespace from numpy and matplotlib

In [45]:
#Ubicar el archivo en la ruta compartida e indicar el separador
datosDemograficos = pd.read_csv("datosDemograficos.csv", sep=",")
datosDemograficos

,IndicadoresDemograficos,Puno,SanMartin,Tacna,Tumbes,Ucayali,Loreto,MadreDeDios,Moquegua,Pasco,...,Cajamarca,Callao,Cusco,Huancavelica,Huanuco,Amazonas,Ancash,Apurimac,Arequipa,Ayacucho
0,"Fecundidad - Nacimientos anuales,""30,108"",""16,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Mortalidad - Muertes anuales,""9,951"",""4,889"",""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tasa bruta de mortalidad (por mil),6.86,5.63,5.40,4.94,5.93,5.07,4.54,5.86,5.54,...,5.50,5.27,6.97,5.54,NaN,6.19,6.15,6.61,5.80,5.91
3,Esperanza de vida - Ambos sexos,71.44,72.45,75.11,74.96,71.99,72.75,73.29,76.59,72.52,...,73.94,78.38,71.39,70.93,72.64,71.56,74.77,71.33,77.06,71.91
4,Solo Hombres,68.77,69.65,72.31,72.09,69.24,70.09,70.71,73.69,69.63,...,71.23,75.68,68.70,68.53,69.95,69.16,71.94,68.83,74.31,69.10
5,Solo Mujeres,74.25,75.40,78.06,77.98,74.87,75.54,76.00,79.64,75.56,...,76.79,81.22,74.21,73.45,75.46,74.07,77.75,73.96,79.94,74.86
6,Tasa de mortalidad infantil (por mil nacidos v...,26.82,17.53,11.77,11.46,21.07,21.80,19.44,11.77,19.12,...,16.19,7.81,26.62,26.81,20.00,20.29,16.23,18.94,11.77,19.55
7,"Crecimiento Natural - Crecimiento anual,""20,15...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
# Detalle de los Datos
datosDemograficos.shape

(8, 26)

In [47]:
# Describiendo los datos
datosDemograficos.describe()

,Puno,SanMartin,Tacna,Tumbes,Ucayali,Loreto,MadreDeDios,Moquegua,Pasco,Piura,...,Cajamarca,Callao,Cusco,Huancavelica,Huanuco,Amazonas,Ancash,Apurimac,Arequipa,Ayacucho
count,5.00000,5.00000,5.00000,5.00000,5.00000,5.00000,5.00000,5.00000,5.00000,5.00000,...,5.00000,5.00000,5.00000,5.00000,4.00000,5.00000,5.00000,5.00000,5.0000,5.00000
mean,49.62800,48.13200,48.53000,48.28600,48.62000,49.05000,48.79600,49.51000,48.47400,49.43600,...,48.73000,49.67200,49.57800,49.05200,59.51250,48.25400,49.36800,47.93400,49.7760,48.26600
std,30.81286,33.69286,36.59064,36.72498,32.56471,33.10172,34.06099,37.26743,33.40817,35.19977,...,34.84552,39.43287,30.78417,30.98912,26.43756,32.39623,35.09351,32.44107,37.5318,32.85945
min,6.86000,5.63000,5.40000,4.94000,5.93000,5.07000,4.54000,5.86000,5.54000,5.50000,...,5.50000,5.27000,6.97000,5.54000,20.00000,6.19000,6.15000,6.61000,5.8000,5.91000
25%,26.82000,17.53000,11.77000,11.46000,21.07000,21.80000,19.44000,11.77000,19.12000,16.89000,...,16.19000,7.81000,26.62000,26.81000,57.46250,20.29000,16.23000,18.94000,11.7700,19.55000
50%,68.77000,69.65000,72.31000,72.09000,69.24000,70.09000,70.71000,73.69000,69.63000,72.07000,...,71.23000,75.68000,68.70000,68.53000,71.29500,69.16000,71.94000,68.83000,74.3100,69.10000
75%,71.44000,72.45000,75.11000,74.96000,71.99000,72.75000,73.29000,76.59000,72.52000,74.88000,...,73.94000,78.38000,71.39000,70.93000,73.34500,71.56000,74.77000,71.33000,77.0600,71.91000
max,74.25000,75.40000,78.06000,77.98000,74.87000,75.54000,76.00000,79.64000,75.56000,77.84000,...,76.79000,81.22000,74.21000,73.45000,75.46000,74.07000,77.75000,73.96000,79.9400,74.86000

In [48]:
# Mostrando solo los primeros registos en Filas
datosDemograficos.head(2)

,IndicadoresDemograficos,Puno,SanMartin,Tacna,Tumbes,Ucayali,Loreto,MadreDeDios,Moquegua,Pasco,...,Cajamarca,Callao,Cusco,Huancavelica,Huanuco,Amazonas,Ancash,Apurimac,Arequipa,Ayacucho
0,"Fecundidad - Nacimientos anuales,""30,108"",""16,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Mortalidad - Muertes anuales,""9,951"",""4,889"",""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#Mostrar solo los datos de una columna, listar información
datosDemograficos['Lima']

0      NaN
1      NaN
2     5.40
3    77.87
4    75.11
5    80.76
6     9.04
7      NaN
Name: Lima, dtype: float64

In [50]:
# Mostrando solo los datos de una Columna
datosDemograficos['Lima'].unique()

array([  nan,  5.4 , 77.87, 75.11, 80.76,  9.04])

In [51]:
# Generamos una serie ordenada Indicadores
serieLima01 = datosDemograficos['IndicadoresDemograficos'].unique()
serieLima01

array(['Fecundidad - Nacimientos anuales,"30,108","16,074","5,605","3,924","8,872","21,701","2,571","2,651","6,355","36,609","13,350","28,870","34,020","21,332","163,089","28,914","15,584","24,385","13,324","18,486","8,376","21,329","9,752","20,946","15,633"',
       'Mortalidad - Muertes anuales,"9,951","4,889","1,900","1,209","3,020","5,381",660,"1,085","1,715","10,332","4,262","8,584","10,331","7,127","55,201","8,450","5,513","9,298","2,788","5,234","2,630","7,155","3,061","7,675","4,181"',
       'Tasa bruta de mortalidad (por mil)',
       'Esperanza de vida -  Ambos sexos', 'Solo Hombres', 'Solo Mujeres',
       'Tasa de mortalidad infantil (por mil nacidos vivos)',
       'Crecimiento Natural - Crecimiento anual,"20,157","11,185","3,705","2,715","5,852","16,320","1,911","1,566","4,640","26,277","9,088","20,286","23,689","14,205","107,888","20,464","10,071","15,087","10,536","13,252","5,746","14,174","6,691","13,271","11,452"'],
      dtype=object)

# Ficheros de texto
## Crear fichero y escribir texto

In [1]:
# fichero.txt ruta donde lo crearemos, w indica modo de escritura, write (puntero principio)
fichero = open('Texto01.txt','w')

In [2]:
contenido = "Mi primer archivo de Texto  \nPython en DMC"

In [3]:
# escribimos el texto
fichero.write(contenido)

42

In [4]:
# cerramos el fichero
fichero.close()

## Lectura de un fichero de texto

In [5]:
# modo lectura read, por defecto ya es r, no es necesario
fichero = open('Texto01.txt','r')

In [6]:
texto = fichero.read() # lectura completa

In [7]:
fichero.close()

In [8]:
print(texto)

Mi primer archivo de Texto
Python en DMC

In [9]:
# leer creando una lista de líneas
fichero = open('Texto01.txt','r')
textoLista = fichero.readlines() 
fichero.close()
print(textoLista)

['Mi primer archivo de Texto  \n', 'Python en DMC']

In [10]:
print(textoLista[-1]) # Última línea

Python en DMC

In [11]:
print(texto[-1]) # Última línea

C

## Extensión de un fichero de texto

In [12]:
# modo a, append, añadir - extender (puntero al final)
fichero = open('Texto01.txt','a')

In [13]:
fichero.write('\nSegunda Clase de Python')

24

In [14]:
fichero.close()

In [15]:
fichero = open('Texto01.txt','r')  
texto03 = fichero.read()
fichero.close()
print(texto03)

Mi primer archivo de Texto
Python en DMC
Segunda Clase de Python

## Lectura de un fichero no existente

In [16]:
fichero = open('nuevoTexto.txt','r')

FileNotFoundError: [Errno 2] No such file or directory: 'nuevoTexto.txt'

In [17]:
# Extensión con escritura simultánea, crea fichero si no existe
fichero = open('nuevoTexto.txt','a+')

## Lectura línea a línea

In [18]:
fichero = open('Texto01.txt','r')

In [19]:
fichero.readline()   # Línea a línea

'Mi primer archivo de Texto  \n'

In [20]:
fichero.readline()

'Python en DMC\n'

In [21]:
fichero.readline()

'Segunda Clase de Python'

In [22]:
fichero.close()

## Lectura línea a línea secuencial

In [23]:
with open("Texto01.txt", "r") as fichero:
    for linea in fichero:
        print(linea)

Mi primer archivo de Texto

Python en DMC

Segunda Clase de Python

## Manejando el puntero

In [24]:
fichero = open('Texto01.txt','r')
fichero.seek(0) # Puntero al principio
fichero.read(7) # Leemos 10 carácteres

'Mi prim'

In [25]:
fichero.read(15) # Leemos 10 carácteres más, a partir del 10 donde está el puntero

'er archivo de T'

In [26]:
fichero.seek(0)
fichero.seek( len(fichero.readline()) ) # Leemos la primera línea y situamos el puntero al principio de la segunda

29

In [27]:
fichero.read() # Leemos todo lo que queda del puntero hasta el final

'\nPython en DMC\nSegunda Clase de Python'

## Lectura y escritura a la vez

In [28]:
fichero2 = open('fichero2.txt','w')

In [29]:
texto = "Panama 1\nColombia 2\nBrasil 3\nPuerto rico 4"

In [30]:
fichero2.write(texto)

42

In [31]:
fichero2.close()

In [32]:
fichero2 = open('fichero2.txt','r+')  # + escritura simultánea, puntero al principio por defecto

In [33]:
fichero2.write('Mexico 5')

8

In [34]:
fichero2.close()

## Modificar una línea específica

In [35]:
# modo lectura con escritura, puntero al principio por defecto
fichero2 = open('fichero2.txt','r+')

In [36]:
# leemos todas las líneas
texto = fichero2.readlines()

In [37]:
texto[2] = "Francia\n"  # indice menos 1

In [38]:
texto

['Mexico 5\n', 'Colombia 2\n', 'Francia\n', 'Puerto rico 4']

In [39]:
fichero2.seek(0) # Ponemos el puntero al principio
fichero2.writelines(texto)

In [40]:
fichero2.close()

** Lectura de TXT con separador de COMAS **

In [41]:
fichero = open('Resumen.txt','r')  
Resumen = fichero.read() # lectura completa
fichero.close()

In [42]:
print(Resumen)

Departamento,Quechua,Aymara,Quechua
Dpto. Amazonas,458,65,458
Dpto. Ancash,314141,531,314141
Dpto. Apurimac,266336,701,266336
Dpto. Arequipa,161891,18538,161891
Dpto. Ayacucho,361622,744,361622
Dpto. Cajamarca,5085,341,5085
Prov. Constitucional del Callao,36312,2997,36312
Dpto. Cusco,566581,1976,566581
Dpto. Huancavelica,272085,373,272085